body {
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
}

.nas-main-content {
    margin-left: $menu-witdh;
    min-height: calc(100vh - $header-height);
    margin-top: $header-height;
    transition: margin-left 0.2s ease-in-out;
}

.no-left-menu {
    .nas-main-content {
        margin-left: 0;
    }
}

.collapsed-left-menu {
    .nas-main-content {
        margin-left: $menu-witdh-collapse;
    }
}
